@import url(/css/footer.css);
@import url(/css/header.css);
@import url(/css/note-upload.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    font-family: "Funnel Sans", sans-serif;
    img {
      height: 100%;
      width: 100%;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    li {
      list-style: none;
    }
  }
  
  .full-page-container {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image:-webkit-linear-gradient(125deg, rgb(156, 224, 114),rgb(110, 162, 241))
  }
  
  
